@font-face {
    font-family: 'Gilroy';
    src: url(./Gilroy-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(./Gilroy-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(./Gilroy-Semibold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}